<div class="container mt-4">
    <div class="row mx-4">
        <div class="card">
            <span class="text-end mt-1">22.04.2022</span>
            <div class="d-flex">
                <img class="card-img-top mx-3 d-none d-md-block" style="width:18rem" src="~/images/login.jpg" alt="Card image cap" />
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">
                            <a href="#">Card title</a>
                        </h5>
                        <p><a href="#">Author Name</a></p>
                    </div>
                </div>
            </div>
            <div class="card-body d-flex justify-content-sm-between flex-column flex-sm-row">
                <div class="d-flex justify-content-between w-100">
                    <div class="d-flex">
                        <div class="me-4">like: 18</div>
                        <div>view: 25</div>
                    </div>
                    <button class="btn btn-primary  d-none d-sm-block" href="#">View Article</button>
                </div>
                <div class="mt-3 d-sm-none">
                    <button class="btn btn-primary" href="#">View Article</button>
                </div>
            </div>
        </div>
    </div>
</div>