@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card p-4">
        <div class="card-header">@Model.Title</div>
        <div class="card-body" style="min-height:300px">@Model.Content</div>
    </div>
    <div>Galeri</div>
    <div>Yorumlar beğeniler görüntüleme</div>
</div>