@model IEnumerable<HomeCardDto>

@{
    ViewData["Title"] = "Articles";
}

<div class="ms-2 mt-2">
    <h2 class="fw-semibold ms-4">
        Articles
    </h2>
</div>

@foreach (var model in Model)
{
    @await Html.PartialAsync("Components/_HomeCardComponent", model)
}